body {
  width: auto;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  color: black;
  background: #fff;
  margin: 0;

  .container {
    width: 320;
    padding: 0 30px;
  }

@media @tablet-widths {
    .container {
      min-width: 668px;
      padding: 0 50px;
    }

  }

  @media @desktop-widths {
    .container {
      min-width: 1050px;
    }
  }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
