.advantages {
  margin-bottom: 24px;

  &__title {
    color: black;
    font-size: 25px;
    line-height: 30px;
  }

  &__items {
    margin: 0;
    margin-top: 63px;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 70px;
  }

  &__link {
    height: 40px;
    color: black;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
  }

  &__link:first-of-type {
    width: 175px;
  }

  &__link:nth-of-type(3) {
    width: 181px;
  }

  &__link:nth-last-of-type(2) {
    width: 260px;
  }

}
