.catalog {
  margin: 0 auto;

  &__items {
  margin: 0;
  padding: 0;
  width: 320px;
  }

  &__item {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 320px;
    height: 103px;
    background-color: @link-color-hover;
  }

  &__item:last-child {
    background-color: @toy-color;
  }

  a {
    max-width: 115px;
    margin: 0;
    margin-left: 30px;
    padding: 18px 0;
    width: 260px;
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
 }

}
