.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: @type-color;
  margin: 0 auto;

  &__title {
    padding: 0 30px;
    color: black;
    font-size: 18px;
    line-height: 30px;
  }

  &__items {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
  }

  &__item:first-of-type {
    margin-right: 32px;
  }

  &__link {
    width: auto;
    color: @type-color;
    text-decoration: none;
    border-bottom: 1px solid @link-color-hover;
  }

  &__map {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: auto;
    margin-top: 40px;
    margin-left: 0;
    width: auto;
    height: 457px;
    background-image: url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 7px 49px;
    font-size:18px;
    line-height: 20px;
    width: 158px;
    height: 38px;
    font-size: 17px;
    line-height: 20px;
    border: 2px solid @type-color;
    text-transform: uppercase;
  }

}
