.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: @type-color;
  margin: 0 auto;

  &__text-btn {
    display: flex;
    flex-direction: column;
  }

  &__text {
  }

  &__title {
    padding: 0 30px;
    color: black;
    font-size: 18px;
    line-height: 30px;
  }

  &__items {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
  }

  &__item:first-of-type {
    margin-right: 32px;
  }

  &__link {
    width: auto;
    color: @type-color;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;
  }

  &__link:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &__link:active {
    color: #c7ece7;
    border-bottom: 1px solid #ecf9f7;
  }

  &__map {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: auto;
    margin-top: 40px;
    margin-left: 0;
    width: auto;
    height: 457px;
    background-image: url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 7px 49px;
    font-size:18px;
    line-height: 20px;
    width: 158px;
    height: 38px;
    font-size: 17px;
    line-height: 20px;
    border: 2px solid @type-color;
    text-transform: uppercase;
  }

  &__btn:hover {
    background-color: #444;
    color: #fff;
    border: 2px solid #444;
  }

  &__btn:active {
    background-color: #444;
    color: #7c7c7c;
    border: 2px solid #444;
  }

}

@media (@tablet-widths) {

  .contacts {
    width: 668px;

    &__title {
      font-size: 43px;
      line-height: 50px;
      padding: 0;
      margin-bottom: 41px;
    }

    &__info {
      display: flex;
      flex-direction: row;
    }

    &__items {
      display: flex;
      flex-direction: row;
      width: 334px;
    }

    &__item {
      padding: 0;
    }

    &___item-adres {
      width: 225px;
    }

    &__map {
      margin-top: 45px;
    }

    &_btn {
      margin: 55px 0;
    }

  }

}

@media (@desktop-widths) {

  .contacts {
    width: 1050px;
    height: 456px;
    margin-top: 71px;
    margin-bottom: 105px;
    margin: 0 auto;

    &__info {
      flex-direction: column;
    }

    &__title {
      margin-top: 54px;
    }

    &__contacts-btn {
      display: flex;
      justify-content: flex-start;
    }

    &__text-btn {
      margin-left: 175px;
    }

    &__map {
      display: none;
    }

    &__btn {
      margin: 0;
      margin-top: 85px;
    }

  }

}
