.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  width: 260px;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
	color: black;
  background: #fff;
  margin: 0 auto;

  &__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  &__form-name {
    padding: 21px;
    padding-left: 0;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    color: @link-color-hover;
  }

  &___name {
    padding-left: 24px;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
  }

  &__rd {
    margin: 19px 0 4px;
    padding-bottom: 21px;
  }

  &__chk {
    margin: 14px 0 3px;
    padding-bottom: 22px;
  }


  &__form__rule {
    color: @type-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 44px;
    font-size:18px;
    line-height: 20px;
    width: 168px;
    height: 34px;
    font-size: 17px;
    line-height: 18px;
    border: 2px solid @type-color;
    text-transform: uppercase;
  }

  &__btn:hover {
    background-color: #444;
    color: #fff;
    border: 2px solid #444;
  }

  &__btn:active {
    background-color: #444;
    color: #7c7c7c;
    border: 2px solid #444;
  }


  &__field {
    width: 260px;
    padding-top: 18px;
    border: none;
    border-bottom: 2px solid black;
  }

  &__field[value] {
    padding-bottom: 17px;
    color: #d6d6d6;
  }
}

.form-name {
  &__description {

  }

}

.form-tel {

  &__description {

  }

}

.form-email {

  &__description {

  }

}

.form-text {

  &__field {
    width: 260px;
    height: 142px;
    border: 2px solid black;
  }

  &__field {
    padding-top: 15px;
    padding-left: 17px;
    color: #d6d6d6;
  }
}

.separator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__type {
    align-items: flex-end;
    flex-basis: auto;
    flex-grow: 1;
    height: 1px;
    background-color: @link-color-hover;
  }

}

@media (@tablet-widths) {

  .form {
    width: 668px;


    &__fieldset {
      width: 668px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__fieldset:nth-of-type(2) {
      border-color: #f1f1f1;
    }

    &__fieldset:nth-of-type(4) {
      border-color: #f1f1f1;
    }

    &__separator {
      width: 167px;
      height: 304px;
      align-items: flex-start;
    }

    &__column {
      width: 501;
      height: 304px;
      align-items: flex-start;
      padding: 50px 0;

    }
  }

  .separator {

    &__type {
      display: none;
    }
  }
}


@media (@desktop-widths) {

}
