.form {
  padding-left: 0px;
  margin-left: 0px;
  border: none;
  min-width: 260px;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
	color: black;
  background: #fff;
  margin: 0;

  &__fieldset {
    border: none;
  }

  &__form-name {
    padding-left: 0;
    color: @link-color-hover;
  }

  &___name {
    padding-left: 24px;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
  }

  &__rd {
  }

  &__chk {

  }

  &__form__rule {
    color: @type-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 46px;
    font-size:18px;
    line-height: 20px;
    width: 168px;
    height: 34px;
    font-size: 17px;
    line-height: 18px;
    border: 2px solid @type-color;
    text-transform: uppercase;
  }

  &__field {
    padding-top: 18px;
    min-width: 260px;
    border: none;
    border-bottom: 2px solid black;
  }
}

.form-name {
  &__description {

  }

}

.form-tel {

  &__description {

  }

}

.form-email {

  &__description {

  }

}

.form-text {

  &__text {
    border: 2px solid black;

  }
}

.separator {
  width: 198px;
  height: 1px;
  background-color: @link-color-hover;

  &__type {

  }

  &__color {

  }

  &__surname {

  }

  &__tel {

  }

  &__email {

  }

  &__add {

  }
}
