.goods {
  margin-top: 30px;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__goods-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: "Open Sans", "Helvetica", sans-serif;
    border: 1px solid @border-color;
  }

  &__link {
    color: black;
    text-decoration: none;
    }

  &__photo {
    display: block;
  }

  &__name {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    width: 200px;
    cursor: pointer;
  }

  &__name:hover {
    opacity: 0.6;
  }

  &__name:active {
    opacity: 0.3;
  }

  &__icon-basket {
    fill: #d3d2d2;
  }
  &__icon-basket:hover {
    fill: #63d1bb;
  }
  &__icon-basket:active {
    opacity: 0.3;
  }

  &__description {
    flex-grow: 1;
    font-weight: normal;
    color: @type-color;
    font-size: 13px;
    line-height: 30px;
    margin-top: 9px;
    padding-bottom: 20px;
  }

  &__text-price {
    position: relative;
    margin-top: 29px;
    padding: 0 25px 25px;
  }

  &__basket-price {
    width: 100%;
    display: flex;
    border-top: 1px solid @border-color;
  }

  &__price {
    display: block;
    width: 100px;
    margin-top: 14px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 13px;
  }

  &__basket {
    font-size: 0;
    align-items: flex-end;
    margin-left: auto;
    width: 20px;
    height: 20px;
  }

}

.goods-list:hover .goods-list__text-price {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.goods-list:active .goods-list__text-price {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (@tablet-widths) {

.goods {
  margin-top: 79px;

    &__container {
      padding: 0;
      max-width: 668px;
    }

  &__goods-list {
    margin-bottom: 54px;
  }

  &__photo {
    width: 332px;
  }

  &__text-price {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__name {
    font-size: 20px;
    line-height: 20px;
    width: 230px;
  }

  &__price {
    font-size: 17px;
    text-indent: 5px;
  }

  &__name:last-child {
    max-width: 190px;
  }

  &__description {
    font-size: 15px;
    line-height: 30px;
  }

 }

}

@media (@desktop-widths) {

  .goods {
    margin-top: 129px;

    &__container {
      max-width: 1050px;
      justify-content: space-between;
    }

    &__goods-list {
      flex-direction: row;
    }

    &__photo {
      width: 100%;
      flex: 0 0 auto;
    }

  }

}
