.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  position: relative;
  min-height: 50px;
  height: 316px;


  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 320px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    height: 79px;
    list-style: none;
    border-bottom: 1px solid @border-color;
  }

  &__item:first-child {
    border-top: 1px solid @border-color;
  }


  &__variables {
    align-self: center;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: black;
    text-decoration: none;

  }

  &__variables:hover {
    color: black;
    text-decoration: none;
    opacity: 0.6;
  }

  &__variables:active {
    color: black;
    text-decoration: none;
    opacity: 0.3;
  }

  &__variables--search {

  }

  &__variables--user-login {

  }

}

@media (@tablet-widths){
.main-nav {
  position: relative;

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
  }

  &__item-catalog {
    justify-content: flex-start;
    font-size: 17px;
    line-height: 20px;
  }

  &__item-order {
    font-size: 17px;
    line-height: 20px;
  }

  &__item-basket {
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 22px;
    order: 1;
  }


}

}
