.page-header {
  position: relative;
  width: 260px;
  margin: 0 auto;

  &__logo {
    padding: 22px 118px 22px 116px;
  }

  &__logo:hover {
    opacity: 0.6;
  }

  &__logo:active {
    opacity: 0.3;
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 32px;
    font-size: 0px;
  }

 &__nav {
   padding-right: 0px;
 }

 &__promo {
   width : 320px;
   height: 283px;
   background-image: url('img/hero-mobile@1x.jpg');
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }

 &__title {
   display: flex;
   justify-content: center;
   width: 245px;
   padding: 60px 10px 120px;
   text-align: center;
   font-size: 27px;
   line-height: 30px;
   font-weight: bold;
}
}
