.page-header {
  position: relative;
  width: 320px;
  min-height: 396px;

  &__logo {
    display: block;
    height: 80px;
    padding: 22px 116px;
  }

  &__logo:hover {
    opacity: 0.6;
  }

  &__logo:active {
    opacity: 0.3;
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 32px;
    font-size: 0px;
  }

  &__nav {
    padding-right: 0px;
  }

}


@media @tablet-widths {

  .page-header {
    display: block;
    vertical-align: top;
    position: relative;
    width: 768px;
    min-height: 80px;
  }

  .page-header__logo {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
  }

}
