.reviews {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 45px;

  &__container {
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
  }
}

.review {

    &__title {
    order: 1;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  &__cell {
    margin: 0;
    padding: 0;
  }

  &__text {
    order: 2;
    max-width: 260px;
    color: @type-color;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
  }

  &__auhor-name {
    order: 3;
    display: block;
    font-weight: 800;
    line-height: 24px;
  }

  &__auhor-social {
    order: 4;
    font-weight: normal;
    color: @type-color;
    font-size: 17px;
    line-height: 30px;
  }

  &__paginator {
    display: flex;
    margin-bottom: 40px;
    border: 1px solid #ececec;
  }

  &__paginator-item {
    padding: 25px 0;
    width: 50%;
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__paginator-item:nth-child(2) {
    background-image: url("../img/icon-right-arrow.svg");
    border-left: 1px solid #ececec;
  }

  &__item:hover {
    opacity: 0.6;
  }

  &__item:active {
    opacity: 0.3;
  }

  &__btn {
    order: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    padding: 7px 51px;
    font-size: 18px;
    line-height: 20px;
    width: 158px;
    height: 38px;
    font-size: 17px;
    line-height: 20px;
    border: 2px solid @type-color;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }

  &__btn:hover {
    background-color: #444;
    color: #fff;
    border: 2px solid #444;
  }

  &__btn:active {
    background-color: #444;
    color: #7c7c7c;
    border: 2px solid #444;
  }

}

.reviews:after {
  content: "";
  width: 100%;
  height: 23px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -13px;
  left: 0;
}

@media (@tablet-widths) {

  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    padding-bottom: 100px;

    &__container {
      padding: 0;
      max-width: 668px;
    }
  }

  .review {
    padding-top: 56px;

    &__title {
      font-size: 43px;
      line-height: 50px;
    }

    &__auhor-name {
      padding-top: 40px;
    }

    &__auhor-social {
      order: 4;
      font-weight: normal;
      color: @type-color;
      font-size: 17px;
      line-height: 30px;
    }

    &__paginator {
      width: 170px;
      position: absolute;
      bottom: -48px;
      right: 0;
      border: none;
    }

    &__paginator-item:nth-child(2) {
      border: none;
    }

  }

}

@media (@tablet-widths) and (@retina) {
  .reviews {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px 460px;
  }
}

@media (@desktop-widths) {

.reviews {
  padding-bottom: 159px;
  background-image: none;

    &__container {
      max-width: 1050px;
    }
}

.reviews:after {
  height: 24px;

  &__container:before {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    content: " ";
    z-index: -1;
    position: absolute;
    top: 12px;
    width: 350px;
    height: 460px;
  }
}

.review {
  padding-top: 40px;
  margin-left: 175px;

    &__title {
      font-size: 53px;
      line-height: 57px;
    }

    &__text {
      max-width: 770px;
    }

    &__paginator {
      bottom: -46px;
    }

    &__auhor-name {
      padding-top: 25px;
    }
  }
}

@media (min-width: 1150px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-width: 768px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 144), (min-width: 1150px) and (min-width: 768px) and (min-resolution: 144dppx) {
  .reviews__container:before {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px 460px;
  }
}
