.social {


  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 260px;
    height: 80px;
  }

  &__items {
    margin: 0;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
    position: relative;
    list-style: none;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: bottom;
    list-style: none;
    margin-right: 40px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
  }

}


@media (@tablet-widths) {

  .social {

    &__items {
      padding: 0;
    }

  }

}

@media (@desktop-widths) {

  .social {
    width: 1050px;

  }

}
