.video {
  display: flex;
  width: 260px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid @border-color;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    width: 128px;
    color: black;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 90px;
  }

  &__photo {
    display: flex;
    margin:0;
  }

  &__content {
    display: flex;
    margin: 0 34px;
    color: @type-color;
    font-size: 13px;
    line-height: 24px;
    margin-top: 23px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 38px;
    color: @type-color;
    padding: 6px 24px;
    margin: 17px 34px 0px;
    font-size: 17px;
    line-height: 16px;
    text-decoration: none;
    border: 2px solid @type-color;
    text-transform: uppercase;
  }

  &__btn:hover {
    background-color: #444;
    color: #fff;
    border: 2px solid #444;
  }

  &__btn:active {
    background-color: #444;
    color: #7c7c7c;
    border: 2px solid #444;
  }
}

@media (@tablet-widths) {

  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 668px;
    height: 744px;
    border: none;

    &__info {
      width: 668px;
      height: 288px;
      padding: 0 40px;
      margin-top: 0;
      padding: 0 40px;
      border: 1px solid @border-color;
    }

    &__photo {
      margin: 0;
      padding: 0;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__content {
      max-width: 582px;
      font-size: 15px;
      line-height: 30px;
      margin-top: 15px;
      margin-bottom: 25px;
    }

    &__btn {
      padding: 6px 221px;
    }


  }

}

@media (@desktop-widths) {

  .video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1050px;
    margin-top: 60px;
    margin-bottom: 105px;

    &__info {
      display: flex;
      flex-direction: column;
      max-width: 369px;
      max-height: 455px;
      border: 1px solid @border-color;
      padding: 100px 76px 60px 60px;
      flex-shrink: 1
    }

    &__photo {
      width: 683px;
      height: 455px;
    }

    &__content {
      font-size: 15px;
      line-height: 30px;
      max-width: 226px;
      margin-top: 16px;
      margin-bottom: 38px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
      margin: 0;
      padding-left: 34px;
    }

    &__btn {
      margin-top: 0;
    }

 }

}
