.video {
    margin-bottom: 58px;

  &__container {
    margin: 0 auto;
    padding: 0 30px;
  }

  &__card {
    font-family: "Open Sans", "Helvetica", sans-serif;
    position: relative;
    padding-top: 25px;
    border: 1px solid #ececec;
  }

  &__card:hover .video__text-btn {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &__card:active .video__text-btn {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 800;
    padding-left: 90px;
    width: 130px;
    margin: 0;
    margin-bottom: 25px;
  }

  &__video-container {
    position: relative;
  }
  &__video-container img {
    display: block;
  }
  &__text-btn {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 27px;
    padding-bottom: 33px;
  }
  &__description {
    padding-bottom: 25px;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    color: #444444;
  }

}

@media (@tablet-widths) {

  .video {
    margin-bottom: 64px;

    &__container {
      padding: 0;
      max-width: 668px;
    }

    &__info {
      width: 668px;
      height: 288px;
      padding: 0 40px;
      margin-top: 0;
      padding: 0 40px;
      border: 1px solid @border-color;
    }

    &__card {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 0;
      border: none;
    }

    &__title {
      position: absolute;
      bottom: 200px;
      width: 260px;
      left: 105px;
      font-size: 20px;
      padding: 0;
    }

    &____text-btn {
      border: 1px solid #ececec;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 95px;
      padding-bottom: 45px;
    }

    &__description {
      font-size: 15px;
      line-height: 30px;
      padding-bottom: 35px;
    }

  }

}

@media (@desktop-widths) {

  .video {
    margin-bottom: 105px;

    &__container {
      max-width: 1050px;
    }

    &__card {
      padding: 0;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      width: 155px;
      bottom: 285px;
      left: 760px;
    }

    &__video-container {
      width: 680px;
    }

    &__text-btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 454px;
      width: 369px;
      padding: 0;
      border-left: none;
    }

    &__description {
      margin-top: 178px;
      padding-left: 22px;
      width: 250px;
    }

 }

}
